@media (max-width: 425px) {
    * {
        margin: 0px;
        padding: 0px;
    }

    body {
        //background-color: gray;

        header {
            .contenedor-header.fixed-top {
                justify-items: center;
                font-size: 10px;
                margin: 0px;
                padding: 0px;
                border-bottom: 2px solid black;

                .bloque-header {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: auto;
                    padding: 10px;

                    p {
                        text-align: center;
                        font-size: 4vw;
                    }
                }

                .bloque-logo {
                    border-bottom: none;
                }
            }
        }

        main {
            margin: 0px;

            .fondo-principal {
                background-image: url(/img/banner_1.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .contenedor-titulo {
                width: 100%;
                justify-items: center;

                h1 {
                    margin: 0px;
                }

                p {
                    text-align: center;
                }
            }

            .seccion-principal {
                display: block;
                margin: 10px;

                .banner {}

                .ofertas {
                    margin: 10px 0px;

                }

                .otros-productos {
                    gap: 10px;

                    .card {}

                }
            }

        }

        footer {

            .info-footer {
                display: block;
                justify-content: center;
                text-align: center;
                padding: 0px;

                div {
                    background-color: beige;
                    margin: 10px;
                    padding: 10px;
                    font-size: 12px;


                    h6 {
                        padding: 10px;
                    }

                    p {
                        padding: 10px;
                    }

                    a {
                        padding: 10px;
                    }
                }


            }

            .datos-contacto {
                display: block;

                div {

                    h5 {
                        font-size: 15px;
                    }

                    ul {


                        li {

                            a {
                                font-size: 12px;
                            }
                        }
                    }
                }

            }

            .parrafo-footer {
                font-size: 10px;
            }
        }

        .logo-fijo {
            position: fixed;
            bottom: 10px;
            right: 10px;
            z-index: 1000;
            width: 50px;
            height: auto;
            opacity: 0.9;

        }
    }

    /* Estilos para pantallas de 600px o menos */
}